<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
     <listener class-name ="JCpenny.TestNG_Project.listeners"/>
  </listeners>
  <test name="Loginpage validation">
    <classes>
      <class name="JCpenny.TestNG_Project.Login"/>
      </classes>
      </test>
      <test name="paymentvalidation">
      <classes>
       <class name="JCpenny.TestNG_Project.managepayments"/>
         </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
